/* show file buttons 'download' and 'delete' */
@keyframes  move-download-button {
  0% {
    transform: scale(.3);
    left: 1.25rem;
    top: 2.5rem;
  }
  100% {
    transform: scale(1);
    left: 0;
    top: 0;
  }
  0% {
    transform: scale(.3);
    left: 1.25rem;
    top: 2.5rem;
  }
}
@keyframes  move-delete-button {
    0% {
        transform: scale(.3);
      left: -2.5rem;
      top: 2.5rem;
    }
    100% {
        transform: scale(1);
      left: 0;
      top: 0;
    }
  }